<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>商品</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h2><%= product_name_1 %></h2>
    <!--<img src="<%= product_image_1 %>">-->
    <br>
    <p><%= unit_price_1 %>btc</p>
    <input type="button" onclick="location.href='/purchase1'" value="ビットコインで購入">

    <h2><%= product_name_2 %></h2>
    <!-- <img src="<%= product_image_2 %>>"> -->
    <br>
    <p><%= unit_price_2 %>btc</p>
    <input type="button" onclick="location.href='/purchase2'" value="ビットコインで購入">
  </body>
</html>