<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>購入</title>
        <meta charset="utf-8">
    </head>
    <body>
        <p><%= product_name %></p>
        <img src="<%= img_path %>">
        <br>
        <p><%= product_name %>の説明</p>
        <form method="POST" action="/payment">
            個数<input type="number" name="num"> <br>
            価格<p></p>
            メールアドレス<input type="email" name="email_address"> <br>
            お届け先<input type="text" name="home_address"> <br>
            氏名<input type="text" name="name"> <br>
            <input type="submit" value="buy">
            <input type="button" onclick="location.href='/payment'" value="buy(dummy)"> <br>
            <input type="button" onclick="location.href='/home'" value="cancel"> <br>
            <input type="hidden" name="product" value="<%= product_name %>">
            <input type="hidden" name="unit_price", value="<%= unit_price %>">
        </form>
    </body>
</html>